.mydiv
{
    background-color: rgba(5, 64, 88, 0.795);
    height: 360px;
    width: 550px;
}

li
{
    color: rgba(5, 64, 88, 0.795);
    font-weight: bolder;
    margin: 25px 0 0 -20px;
    list-style: none;
}

.nav
{
    border-left: 5px solid rgba(6, 23, 78, 0.795);
    width: 200px;
    margin: 10px 0 0 15px;
    background-color: white;
    float: left;
}
